* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: #eee;
}

:root {
  --iconsColor: rgb(159, 127, 177);
  --hoverLinks: rgb(225, 179, 219);
  --backgroundText: rgba(55, 5, 49, 0.201);
  --colorText: rgba(44, 3, 39, 0.844);


}

.containe {
  display: flex;
  overflow: hidden;
}

.butonMenu {
  margin-bottom: 160px;
}

main {
  width: 100% !important;
  overflow: auto;
}

.sidebar {
  z-index: 1px !important;
  background-color: #070606ef;
  color: #fff;
  height: 100vh;
  width: 300px;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30px;
}

.fotoImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.descripLogo {
  font-size: 15px;
}

.bars {
  z-index: 1 !important;
  width: 200px;
  display: flex;
  font-size: 25px;
  margin-left: 50px;
  transition: all 0.5s;
}

.contLinks {
  margin-top: -10px;
}

.link {
  display: flex;
  color: var(--iconsColor);
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: var(--hoverLinks);
  color: rgb(123, 93, 140);
  transition: all 0.5s;
}

.active {
  color: #fff;
}

.icon,
.llink_text {
  font-size: 20px;
}

footer {
  margin-top: 80px;
  height: 130px;
  gap: 25px;
}

.footrConteIcons {
  margin-top: 0px;
  text-align: center;
  width: 40px;
  height: 40px;
  border: 3px solid rgb(80, 80, 80);
  border-radius: 50%;
  background-color: rgb(14, 13, 13);
}

.footrConteIcons:hover {
  border: 3px solid var(--hoverLinks);
  box-shadow: rgba(45, 45, 45, 0.3) 0px 19px 38px, rgba(66, 66, 66, 0.22) 0px 15px 12px;
}

a {
  color: #fff;
}

a:hover {
  color: var(--hoverLinks);
}



/* compomente inicio*/
.imgInicio {
  width: 50%;
  height: 150px;
  opacity: 0.8;
}

.containe {
  height: 100vh;
  background-color: #f3f3f3;
}

.conteTExtInicio {
  text-align: center;
  height: 250px;
  width: 100%;
}

.nombre {
  color: var(--iconsColor);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 4px;
  font-size: 25px;
}

.textInicio {
  font-size: 28px;
  color: var(--colorText);
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  border-right: 4px solid;
  width: 23ch;
  background-color: var(--backgroundText);

  animation: typing 3s steps(15),
    blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/*Componente sobre mi*/
h2{
  color: var(--iconsColor);
}
.conteTextoSObreMi{
display: flex;
justify-content: center;
}
.containerSobrMI{
  text-align: center;
  margin: auto;
}

.containerImgTecnoligias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.divImg {
  width: 50%;
  margin-top: 30px;
}

.imgTecnologias {
  width: 70%;

}
.imgTecnologias:hover {
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: all;
}

/*Portafolio*/

.containerPortafolio{
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.containerCardProyects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.volver{
position:absolute;
right:18px;
top:20px;
}




@media (min-width: 768px) {
  .contLinks {
    margin-top: 10px;
  }

  .butonMenu {
    display: none;
  }

  .logo {
    display: block !important;
  }

  .fotoImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 15px;

  }

  .descripLogo {
    margin-left: 20px;
  }

  .sidebar {
    background-color: #070606ef;
    color: #fff;
    height: 100vh;
    width: 250px !important;
  }

  .link_text {
    display: block !important;
    margin-left: 20px;
  }

  footer {
    margin-top: 150px;
    height: 90px;
  }

  .footrConteIcons {
    display: block !important;
  }


  /*componente inicio*/

  .imgInicio {
    width: 20%;
    height: 180px;
    opacity: 0.8;
  }

  .textInicio {
    margin: auto;
    font-size: 40px;
    border-right: 6px solid;
    width: 20ch;

  }

  .conteTExtInicio {
    height: 250px;
    width: 98%;
  }

  .nombre {

    font-weight: 6px;
    font-size: 30px;
  }


  /*Componente sobre mi*/

  .textSobreMi{
  width: 70%;
  }
  .containerImgTecnoligias {
    padding: 5px 50px;
  }

  .divImg {
    width: 20%;
    margin-top: 30px;
  }

  .imgTecnologias {
    width: 70%;
  }


  /*portafolio*/

  .containerPortafolio{
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .containerCardProyects{
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}